/*------------------------------------*\
							Animations
\*------------------------------------*/

.burger {

	.burger__icon--top,
	.burger__icon--mid,
	.burger__icon--bot {
		transform: rotate(180deg);
		transition: all 0.6s ease-in-out;
	}

	&.is-open {

		.burger__icon--top {
			transform: translateY(calc(.6em - 1px)) rotate(45deg);
		}

		.burger__icon--mid {
			opacity: 0;
			transform: scale(0, 1);
		}

		.burger__icon--bot {
			transform: translateY(calc(-.6em - 1px)) rotate(-45deg);
		}
	}
}


.nav-main {
	opacity: 0;
	transform: translateX(-100%);
	transition: transform 0.8s $out-expo, opacity 0.6s ease-in-out;

	&.is-open {
		opacity: 1;
		transform: translateX(0);
	}
}


.menu__item {
	transform: translate(-50vw, 0);
}

.is-open .menu__item {

	transform: translate(0, 0);
	transition: transform 0.6s 0.2s cubic-bezier(0, 0.65, 0.36, 1);

	@for $i from 1 through 3 {

		&:nth-child(#{$i}) {
			transition-delay: $i / 10 * 1s;
		}
	}
}


.submenu__link::before {
	opacity: 0;
	transform: translateX(-100%);
	transition: transform 1s $out-expo, opacity 0.6s ease-in-out;
}

.submenu__link:hover::before {
	opacity: 1;
	transform: translateX(0);
}


.section-home__figure:hover {

	.section-home__link::before {
		opacity: 0.6;
	}

	.section-home__caption {
		opacity: 1;
	}

	.section-home__link::before,
	.section-home__caption {
		transition: opacity 0.6s ease-in-out;
	}
}


.section-home__rows {

	> div:nth-of-type(2),
 	> div:last-of-type {
		&.row.is-collapsed {
			&::before {
				opacity: 0;
			}
		}
	}

	> div:nth-of-type(3) {
		&.row.is-collapsed {
			&::before {
				background-color: $black;
			}
		}
	}

	.row {
		transform: translate(0, 0);

		&.is-collapsed {

			.section-home__figure {
				background: $white;
				opacity: 0.99;
				transition: opacity 0.6s ease-in-out;
			}

			.section-home__figure::before {
				content: "";
				z-index: 50;
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: $white;
				opacity: 0.6;
			}

			.section-home__figure:hover {
				.section-home__link::before {
					opacity: 0;
				}

				.section-home__caption {
					opacity: 0;
				}
			}
		}
	}
}




.section-loader__progress.is-loading::before {
	transition: 0.5s transform $out-sine;
	animation: loaderAnimation 2.5s infinite;
}

.section-loader.is-loaded {
	opacity: 0;
	pointer-events: none;
}

.header,
.section-home {
	opacity: 0;

	&.is-visible {
		opacity: 1;
	}
}

/*------------------------------------*\
							Keyframes
\*------------------------------------*/

@keyframes loaderAnimation {
	0% {
		transform: translateX(-100%);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}
