/*------------------------------------*\
							Closing cross
\*------------------------------------*/

.burger {
	position: absolute;
	right: 0;
	cursor: pointer;

	.home &:not(.is-open) {
		display: none;
	}
}

.burger__icon {
	position: relative;
	display: block;
	width: 1.6em;
	height: 1.2em;
}

.burger__icon--top,
.burger__icon--mid,
.burger__icon--bot {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: currentColor;
}

.burger__icon--mid,
.burger__icon--bot {
	margin-top: -1px;
}

.burger__icon--top {
	top: 0;
}

.burger__icon--mid {
	top: 50%;
}

.burger__icon--bot {
	top: 100%;
}
