/*------------------------------------*\
		Buttons
\*------------------------------------*/

.btn {
	font-family: "Viato", sans-serif;
	font-weight: 700;
	cursor: pointer;
}

.btn-menu-hp {
	position: absolute;
	top: calc(50% - 6.5em);
	width: 10vw;
	padding-bottom: 1.3em;
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 1px solid $black;
}
