/*------------------------------------*\
		Header
\*------------------------------------*/

.home-filets {
	position: absolute;
	top: calc(50% + 7.5em);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	min-height: 30em;
}

.home-filets__top,
.home-filets__mid,
.home-filets__bot {
	display: block;
	width: 100%;
	height: 1px;
	background-color: $lightgrey-2;
}

.home-filets__mid::before {
	content: "";
	position: absolute;
	width: 11.25em;
	height: 1px;
	background-color: $black;
}
