/*------------------------------------*\
		Pictogrammes
\*------------------------------------*/

.icon {
	display: inline-block;
	vertical-align: middle;
}



/*------------------------------------*\
		Logo Studio Meta
\*------------------------------------*/

.icon--sm {

	&,
	svg {
		display: block;
		width: 4.93em;
		height: 0.79em;
	}
}
