/*------------------------------------*\
						Homepage loader
\*------------------------------------*/

.section-loader {
	z-index: z("goku");
	position: absolute;
	top: -7.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	filter: grayscale(0.5);

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: 0.5;
	}

	.section-loader__content {
		width: 35em;
		text-align: center;
		color: $white;
		overflow: hidden;

		h1 {
			font-family: "Yrsa", serif;
			font-size: 1.875em;
			font-weight: 400;
			letter-spacing: 0.0625em;
			margin-bottom: 0.7em;
		}

		h2 {
			margin: 1.875em 0 0;
			font-size: 1em;
			letter-spacing: 0.25em;
			text-transform: uppercase;
		}

		.section-loader__progress::before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: $white;
		}
	}
}
