/*------------------------------------*\
						Main menu
\*------------------------------------*/


.nav-main {
	z-index: z("dropdown");
	position: fixed;
	top: 7.5em;
	bottom: 0;
	display: flex;
	align-items: center;
	width: 75%;
	padding-left: 23.5em;
	line-height: 1;
	background-color: $white;
	will-change: transform;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 70%;
	font-family: "Yrsa", serif;
	text-transform: uppercase;
	user-select: none;
}

.menu,
.submenu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item--custom,
.menu__item--page {
	font-size: 3.375em;
	font-weight: 700;
}

.submenu__item {
	padding-top: 1.45em;
}

.submenu__link {
	position: relative;
}

.submenu__link:hover {
	font-weight: 700;
}

.submenu__link::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	display: inline-block;
	width: 20vw;
	height: 1px;
	margin-right: 2em;
	background-color: currentColor;
	opacity: 0;
	transform: translateX(-100%);
}

.submenu__item--category {
	font-size: 0.52em;
	font-weight: 300;
}

.menu__link,
.submenu__link {
	text-decoration: none;

	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}
}

.menu__link {

	&:not(.is-open) {

		.menu--has-children-open &,
		&[disabled] {
			opacity: 0.15;
		}
	}
}

.js-accordion-container {
	height: 0;
	overflow: hidden;
	opacity: 0;
}
