/*---------------------------------------*\
		Sélection
\*---------------------------------------*/

::-moz-selection {
	text-shadow: none;
	color: $selection-color;
	background: $selection-bg;
}

::selection {
	text-shadow: none;
	color: $selection-color;
	background: $selection-bg;
}



/*---------------------------------------*\
		Réglages globaux
\*---------------------------------------*/

*,
*::after,
*::before {
	position: relative;
	outline: none;
	-webkit-tap-highlight-color: none;
}

html {
	font-size: $font-size - 2;

	// Media queries
	@media #{md("s")} {
		font-size: $font-size - 1;
	}

	@media #{md("m")} {
		font-size: $font-size;
	}

	@media #{md("xl")} {
		font-size: $font-size + 1;
	}

	@media #{md("xxl")} {
		font-size: $font-size + 2;
	}
}

// Better font rendering for mac
.is-mac,
.is-mac input,
.is-mac button,
.is-mac textarea {
	@include antialiased;
}



/*------------------------------------*\
		Base typographique

		More settings:
		http://type-scale.com/
\*------------------------------------*/

body {
	font-family: ff("condensed");
	font-size: $font-size;
	line-height: $line-height;
	overflow-x: hidden;

	// Helper to get current breakpoint in JS
	&::before {
		z-index: z("limbo");
		position: absolute;
		width: 1px;
		height: 1px;
		white-space: nowrap;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
	}

	@each $breakpoint in $breakpoints {
		$key: nth($breakpoint, 1);
		$grid-gutter: map-get($grid-gutters, $key);

		@media all and #{md($key)} {
			&::before {
				content: "#{$key}";
			}
		}
	}
}

html,
body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

p,
ul,
ol,
blockquote {
	margin-bottom: $line-height * 1em;
}

h1,
h2,
h3,
h4 {
	margin: ($line-height * 1em) 0 1em;
	line-height: 1.2;
	font-weight: 700;
}

h1 {
	margin-top: 0;
	font-size: 3.157em;
}

h2 {
	font-size: 2.369em;
}

h3 {
	font-size: 1.777em;
}

h4 {
	font-size: 1.333em;
}

small {
	font-size: 0.75em;
}

sup {
	vertical-align: super;
	font-size: 0.75em;
}

a {
	color: inherit;
}


ul,
ol {
	margin-left: 1em;
	padding-left: 1em;
}

blockquote {
	padding-top: $line-height * 1em;
	padding-bottom: $line-height * 1em;

	&::after,
	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #d5d5d5;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
