/*------------------------------------*\
		Header
\*------------------------------------*/


.header {
	height: 7.5em;
	padding: 0 4.375em;
	background-color: $lightgrey;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.logo {
	margin-bottom: 0;
	font-size: 1.5em;
	line-height: 2.4;
}

.logo__link {
	font-family: "Ysra", serif;
	font-weight: 300;
	text-decoration: none;
}

.breadcrumbs {
	position: absolute;
	left: 0;

	a {
		font-family: "Ysra", serif;
		text-decoration: none;
	}
}

.separator {
	padding: 0 0.25em;
	color: currentColor;
}

.breadcrumbs__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs__item {
	color: $mediumgrey;
}

.breadcrumbs__item--last {
	font-weight: 700;
	color: $black;
}
