/*---------------------------------------*\
		Styles et réglages globaux
\*---------------------------------------*/

// Directories
$theme-dir: "/wp-content/themes/studiometa-dreamquark/";
$assets-dir: "/wp-content/themes/studiometa-dreamquark/assets/";
$font-dir: "#{$assets-dir}fonts/";
$img-dir: "#{$assets-dir}img/";
$svg-dir: "#{$assets-dir}svg/";

// Vars
$font_family: SofiaProLight;

// Couleurs
$lightgrey: #fbfbfb;
$lightgrey-2: #eee;

$mediumgrey: #b9b9b9;

$black: #000;
$white: #fff;

$bg-secondary: #3d5e98;
$bg-primary: #f8fafd;
$blue-primary: #4b75bd;
$blue-primary_hover: #242d47;

// Typographie
$font-families: (
	"condensed": ("RobotoCondensed", "Helvetica Neue", Arial, sans-serif),
	"roboto": ("Roboto", "Helvetica Neue", Arial, sans-serif)
);

$font-size: 16px;
$line-height: 1.45;
$selection-bg: #0f005a;
$selection-color: #fff;

/*------------------------------------*\
		Media queries breakpoints
\*------------------------------------*/

$breakpoints: (
	"xxs": 0,
	"xs": 481,
	"s": 769,
	"m": 993,
	"l": 1281,
	"xl": 1441,
	"xxl": 1921
);

/*------------------------------------*\
		Layout
\*------------------------------------*/

// Layout
$layout-main--width: 100%;
$layout-main--max-width: 100em;

// Grille
$grid--columns: 12;
$grid-gutters: (
	"xxs": 1rem,
	"xs": 1rem,
	"s": 1.25rem,
	"m": 1.25rem,
	"l": 1.5rem,
	"xl": 1.5rem,
	"xxl": 1.75rem
);

/*------------------------------------*\
		Z-indexes
\*------------------------------------*/

$layers: (
	"goku": 9000,
	"popin": 200,
	"dropdown": 100,
	"intermediate": 50,
	"default": 1,
	"limbo": -999
);

/*------------------------------------*\
		Easing
\*------------------------------------*/

$in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

$in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

$in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$in-out-expo: cubic-bezier(1, 0, 0, 1);

$in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$out-back: cubic-bezier(0.175, 00.885, 0.32, 1.275);
$in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$out-back-t: cubic-bezier(0.535, 1.65, 0.635, 1.005);
