/*
 * Admin login Style
 */

*,
*:after,
*:before {
	position: relative;
	outline: none;
}

body.login {
	background-color: #313237;
}

/* Replace Logo */
.login h1 a {
	width: 300px;
	height: 300px;
	margin: auto;
	background-image: url('login-logo.png');
	background-size: cover;
}

/* Message */
.login #login_error, .login .message {
	padding: 20px;
	border-left: 8px solid #b9bdd0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.login #login_error {
	border-left: 8px solid #dc3232;
}

.login #login_error a {
	color: #222;
	display: block;
}

.login #login_error a:hover {
	color: #b9bdd0;
}

.login #login_error br {
	display: none;
}

/* Labels */
.login label {
	color: #222;
}
/* MDP Oublié / Back to site */
.login #backtoblog, .login #nav {
	padding: 0;
}

.login #backtoblog a, .login #nav a {
	color: #ffffff;
}

.login #backtoblog a:hover, .login #nav a:hover {
	color: #b9bdd0;
}

/* focus */
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
	border-color: #313237;
}

input[type=checkbox]:checked:before {
	color: #313237;
}


.wp-core-ui .button-primary {
	background: #313237;
	border-color: #313237;
	text-shadow: none;
	box-shadow: none;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:active {
	background: #b9bdd0;
	border-color: #b9bdd0;
	color: #313237;
	box-shadow: none;
}
