{% block html__header %}
{% include 'head.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} p-0 m-0" data-template="base.twig">
		{% if sprite_body %}
			<div style="display: none">
			<!-- Sprite SVG -->
			{% include sprite_body %}
			<!-- ./Sprite SVG -->
			</div>
		{% endif %}

		<header class="header fixed-top">
		{% block header %}
			<div class="wrapper">
				<h1 class="hdr-logo" role="banner">
					<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
				</h1>
				<nav id="nav-main" class="nav-main" role="navigation">
					{% include "menu.twig" with {'menu': menu.get_items} %}
				</nav><!-- #nav -->
			</div>
		{% endblock %}
		</header>

		<main class="main">

	{% block content %}
	{% endblock %}

	{% block html__footer %}
	{% include 'footer.twig' %}
		{% block footer %}
		{% endblock %}
		</body>
	</html>
	{% endblock %}
