
	<!-- Javascript files-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js">
	</script>
	<script src="{{site.theme.link}}/dist/scripts/vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{site.theme.link}}/dist/scripts/vendors/jquery.cookie/jquery.cookie.js">
	</script>
	<script src="{{site.theme.link}}/dist/scripts/vendors/owl.carousel/owl.carousel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="{{site.theme.link}}/dist/scripts/utils/front.js"></script>

	{% if post %}
		<script src="{{site.theme.link}}/dist/scripts/utils/single.js"></script>
	{%  endif %}

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57227445-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-57227445-1');
	</script>
	<!-- Google Analytics -->

	<div id="demo-form" class="fancy-form" style="display:none">
		<div class="row">
			<div class="left-part col-md-5 bg-secondary pt-5 pl-5 pl-sm-6 pl-md-5 pl-lg-7 pr-md-5 pr-lg-7">
				<h4 class="title pb-2">Get a demo</h4>

				<p class="try">Try <strong>Brain</strong>, the most advanced IA platform.</p>

				<img class="hexa" src="{{site.theme.link}}/assets/img/layout/hexa6.png" />
				<img class="logo-white" src="{{site.theme.link}}/assets/svg/layout/logo_DreamQuark_2018_all_white.svg" />
			</div>

			<div class="right-part col-md-7 pt-5 pb-5 pl-5 pr-5 pl-md-7 pr-md-7">
                {{ function('do_shortcode', '[gravityform id=1 title=false description=false ajax=true]') }}
			</div>
		</div>
	</div>

	<div id="join-team" class="fancy-form" style="display:none">
		<div class="row">
			<div class="left-part col-md-5 bg-secondary pt-5 pl-5 pl-sm-6 pl-md-5 pl-lg-7 pr-md-5 pr-lg-7">
				<h4 class="title pb-2">Join the team</h4>

				<img class="hexa" src="{{site.theme.link}}/assets/img/layout/hexa6.png" />
				<img class="logo-white" src="{{site.theme.link}}/assets/svg/layout/logo_DreamQuark_2018_all_white.svg" />
			</div>

			<div class="right-part col-md-7 pt-5 pb-5 pl-5 pr-5 pl-md-7 pr-md-7">
                {{ function('do_shortcode', '[gravityform id=3 title=false description=false ajax=true]') }}
			</div>
		</div>
	</div>

</main>
{{ function('wp_footer') }}