{% extends "base.twig" %} {% block head %} {{ parent() }}
<link rel="stylesheet" href="{{site.theme.link}}/dist/styles/pages/front-page.css" type="text/css" media="screen" /> 
{% endblock %} 
{% block header %} 
{% include "header.twig" %}
{% endblock %} 
{% block content %}

{% include "sections/1_main.twig" with {
	'id_section': 'main'
} %}
{% for key, item in builder.get_field('blocks') %}
	{% set block_type = item.acf_fc_layout %}
	{% if block_type == 'ia_block' %}
		{% include "sections/2_a_different_ai.twig" with {
			'id_section': 'beliefs',
			'block': item
		} %} 
	{% elseif block_type == 'brain_block' %}
		{% include "sections/3_brain.twig" with {
			'id_section': 'brain',
			'block': item
		} %} 
	{% elseif block_type == 'brain_suite_block' %}
		{% include "sections/4_brain_schema.twig" with {
			'id_section': 'brain_schema',
			'block': item
		} %}
	{% elseif block_type == 'fs_block' %}
		{% include "sections/5_financial_services.twig" with {
			'id_section': 'industries',
			'block': item
		} %}
	{% elseif block_type == 'sd_block' %}
		{% include "sections/6_sharpen_decisions.twig" with {
			'id_section': 'sharpen_decisions',
			'block': item
		} %}
	{% elseif block_type == 'clients_block' %}
		{% include "sections/7_use_cases.twig" with {
			'id_section': 'use_cases',
			'block': item
		} %}
	{% elseif block_type == 'team_block' %}
		{% include "sections/8_team.twig" with {
			'id_section': 'team',
			'block': item
		} %} 
	{% elseif block_type == 'sliders_block' %}
		{% include "sections/9_awards.twig" with {
			'id_section': 'awards',
			'block': item
		} %} 
	{% endif %}
{% endfor %}
{% include "sections/10_whatsnew.twig" with {
	'id_section': 'news',
} %} 
{% include 'sections/11_footer.twig' with {'id_section': 'footer'} %} 
{% include 'sections/12_latestnews.twig' with {'id_section': 'latest_news'} %} 
<div id="scrollTop">
	<div class="d-flex align-items-center justify-content-end">
		<i class="fa fa-long-arrow-up"></i>To Top</div>
</div>
{% endblock %}