{% block header %}
<nav class="navbar navbar-expand-lg fixed-top navbar-scroll" id="myScrollspy" style="background: #ffffff;">
    <div class="container-fluid">
        <a href="{{ site.link }}" class="navbar-brand order-md-2 order-lg-1">
            <img class="scrollOk" style="height: 48px" src="{{site.theme.link}}/assets/svg/layout/logo_DreamQuark_2018.svg" class="img-fluid logo">
        </a>

        <a href="{{ site.url }}" title="DreamQuark" class="go-back order-md-1 order-lg-2"><img style='width: 22px !important;' src='{{site.theme.link}}/assets/img/layout/arrow.png' /><span>Back to website</span></a>

        <div id="navbarSupportedContent" class="d-none d-lg-block order-lg-3">
            {{ post.title }}
        </div>

        <div id="get_demo_menu" class="CTA order-md-3 order-lg-4">
            <a data-src="#demo-form" href="#" class="fancybox btn btn-primary btn-shadow btn-lg btn-gradient link-scroll">Get a demo</a>
        </div>
    </div>
</nav>
<div class="KW_progressContainer">
    <div class="KW_progressBar">
    </div>
</div>
{% endblock %}