<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
  <meta charset="{{site.charset}}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% if wp_title %}
        {{ wp_title }}
      {% else %}
          {{ site.name }}
      {% endif %}
    </title>
  <meta name="description" content="{{site.description}}">
	<link rel="canonical" href="/">
	<meta name="author" content="">
	<meta name="copyright" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, user-scalable=yes">
	<link rel="pingback" href="{{site.pingback_url}}" />

	<!-- Disable iOS phone numbers auto-detect -->
	<meta name="format-detection" content="telephone=no">

	<!-- OpenGraph -->
	<meta property="og:title" content="Dreamquark">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{site.url}}">
	<meta property="og:image" content="{{site.theme.link}}/assets/img/layout/og_image.jpg">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:site_name" content="Dreamquark">
	<meta property="og:description" content="Brain, the AI software to solve all your business needs focus on Financial Industries.">
	<!-- Test it: https://developers.facebook.com/tools/debug/og/object/ -->
	<!-- ./END OpenGraph -->


	<!-- Favicons -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<!-- http://realfavicongenerator.net/ pour générer les favicons -->

	<!-- Stylesheets -->
  	<link rel="stylesheet" href="{{site.theme.link}}/dist/styles/styles.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">



	<!-- Tweaks for older IEs--><!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="/assets/js/vendor/selectivizr.js"></script>
	<![endif]-->
  {{function('wp_head')}}
