{% block header %}
    <nav class="navbar navbar-expand-md navbar-no-scroll">
        <div class="container">
            <a href="{{ site.link }}" class="navbar-brand">
                <img class="scrollNotOk" src="{{site.theme.link}}/assets/svg/layout/logo_DreamQuark_2018_white_font.svg">
            </a>
            <button type="button" data-target="#navbarSupportedContentNoScroll" aria-controls="navbarSupportedContentNoScroll"
                aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right ml-auto">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div id="navbarSupportedContentNoScroll" class="navbar-collapse">
                {% include "menu.twig" with {'menu': menu.get_items, 'align_menu': 'ml-auto'} %}
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-md navbar-for-scroll" id="myScrollspy">
        <div class="container-fluid">
            <a href="{{ site.link }}" class="navbar-brand">
                <img class="scrollOk" src="{{site.theme.link}}/assets/svg/layout/logo_DreamQuark_2018.svg">
                <img class="scrollNotOk" src="{{site.theme.link}}/assets/svg/layout/logo_DreamQuark_2018_white_font.svg">
            </a>
            <button type="button" data-target="#navbarSupportedContentScroll" aria-controls="navbarSupportedContentScroll"
                    aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right ml-auto">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div id="navbarSupportedContentScroll" class="navbar-collapse">
                {% include "menu.twig" with {'menu': menu.get_items, 'align_menu': 'mx-auto'} %}
            </div>
            <div id="get_demo_menu" class="CTA">
                <a data-src="#demo-form" href="#" class="fancybox btn btn-primary btn-shadow btn-lg btn-gradient link-scroll">Get a demo</a>
            </div>
        </div>
        <div class="KW_progressContainer d-none">
            <div class="KW_progressBar">
            </div>
        </div>
    </nav>

{% endblock %}