{% if menu %}
	<ul class="navbar-nav align-items-start align-items-lg-center {{ align_menu }}">
	{% for item in menu %}
		<li class="nav-item {{item.classes | join(' ')}}">
			<a href="{{item.get_link}}" class="nav-link link-scroll">{{item.title}}</a>
		</li>
	{% endfor %}
		<li class="nav-item menu__item menu__item--custom d-block d-lg-none">
			<a href="https://twitter.com/DreamQuark" target="_blank" title="Twitter">
				<img src="{{site.theme.link}}/assets/svg/layout/twitter.svg" alt="Twitter" />
			</a>
			<a href="https://fr.linkedin.com/company/nicolas-meric-dreamquark- " target="_blank" title="LinkedIn">
				<img src="{{site.theme.link}}/assets/svg/layout/linkedin.svg" alt="LinkedIn" />
			</a>
		</li>
	</ul>
{% endif %}