{% extends "base.twig" %} {% block head %} {{ parent() }}
<link rel="stylesheet" href="{{site.theme.link}}/dist/styles/pages/single.css" type="text/css" media="screen" />
{% endblock %}

{% block header %}
    {% include "header-post.twig" %}
{% endblock %}

{% block content %}

	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-content">
			<header id="article-header">
				<div class="container">
					<div class="row">
						<div class="col-12 col-xl-10 mx-auto">
							<p class="date">{{ post.post_date|date('d.m.Y')}}</p>
							<h1 class="big-title">{{post.title}}</h1>
						</div>
					</div>
					<p class="excerpt">{{ post.post_excerpt }}</p>
					{% if post.thumbnail is defined and post.thumbnail %}
						<div class="big-image" style="background-image: url({{ post.thumbnail.src }})"></div>
					{% endif %}
				</div>
			</header>

			<div id="article-body">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-3 col-lg-3 order-2 order-md-1">
							<div id="sharing-buttons" class="mt-5 mt-md-0">
								<p class="label">SHARE</p>
								<p class="sharing-button-wrapper"><a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}" class="social-btn btn btn-white facebook"><i class="fa fa-facebook-f"></i></a></p>
								<p class="sharing-button-wrapper"><a href="https://twitter.com/home?status={{ post.link }}" class="social-btn btn btn-white twitter"><i class="fa fa-twitter"></i></a></p>
								<p class="sharing-button-wrapper"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}&title={{ post.title }}&summary={{ post.excerpt }}&source=DreamQuark" class="social-btn btn btn-white linkedin"><i class="fa fa-linkedin"></i></a></p>
							</div>
						</div>
						<div class="col-12 col-md-9 col-lg-8 col-xl-6 order-1 order-md-2">
							<div class="content">
                                {{post.content | raw }}
							</div>

							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-12 col-md-9 offset-md-3">
							<a href="{{ site.url }}" title="DreamQuark" class="go-back"><img src='{{site.theme.link}}/assets/svg/layout/arrow.svg' /><span>Back to website</span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>

    {% include "sections/otherstories.twig" with {
        'id_section': 'news',
    } %}
    {% include 'sections/11_footer.twig' with {'id_section': 'footer'} %}
{% endblock %}
