<style>
	[debug] {
		z-index: 9999;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		pointer-events: none;
	}

	.grid__col-xxs--1 {
		background: rgba(0, 0, 255, 0.1);
	}

	.grid__col-xxs--1:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 255, 0.1);
		outline: none !important;
	}

	[debug],
	[debug] * {
		height: 100%;
		outline: none !important;
	}
</style>

<div debug>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
	<div class="grid__col-xxs--1"></div>
</div>
