@import "boilerplate";
// Directories
$theme-dir: "/wp-content/themes/studiometa-dreamquark/";
$assets-dir: "/wp-content/themes/studiometa-dreamquark/assets/";
$font-dir: "#{$assets-dir}fonts/";
$img-dir: "#{$assets-dir}img/";
$svg-dir: "#{$assets-dir}svg/";
// Vars
$font_family: SofiaProLight;
// Couleurs
$lightgrey: #fbfbfb;
$lightgrey-2: #eee;
$mediumgrey: #b9b9b9;
$grey: #777777;
$black: #000;
$red: #dd5050;
$white: #fff;
$bg-secondary: #37558a;
$bg-primary: #f8fafd;
$blue-primary: #4b75bd;
$blue-primary_hover: #242d47;
$blue-footer: #1a2033;
$bg-blue-gradient-main: linear-gradient(to right, #0d165a, #477acf) no-repeat bottom right;
;
$bg-blue-gradient: linear-gradient(225deg, $blue-primary 0%, $bg-secondary 100%) no-repeat top left;
;
$bg-blue-gradient-alt: linear-gradient(225deg, $blue-primary_hover 0%, $bg-secondary 100%) no-repeat top left;
;
@mixin shadowBox {
  //-webkit-box-shadow: 0px 0px 35px 0 rgba(0, 0, 0, .05);
  //-moz-box-shadow: 0px 0px 35px 0 rgba(0, 0, 0, .05);
  //box-shadow: 0px 0px 35px 0 rgba(0, 0, 0, .05);
  -webkit-box-shadow: -10px 0px 50px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -10px 0px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0px 50px 0px rgba(0, 0, 0, 0.1);
}

// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
  $src: null;
  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
  $formats: ( otf: "opentype", ttf: "truetype");
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
} // =============================================================================
// String Replace
// =============================================================================
@function str-replace($string,
$search,
$replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string,
    1,
    $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)),
    $search,
    $replace);
  }
  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name,
$path,
$weight: null,
$style: null,
$exts: eot woff ttf svg) {
  $src: null;
  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_"));
  $formats: ( otf: "opentype", ttf: "truetype");
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.box {
  ul {
    padding-left: 15px;
  }
}

.container {
  max-width: 100% !important;

  @media (min-width: 991px) {
    max-width: 94% !important;
  }

  @media (min-width: 1530px) {
    max-width: 1500px !important;
  }
}



.container-float {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;

  @media (min-width: 991px) {
    max-width: 94%;
    max-width: calc(94% + ((100% - 94%) / 2));

    &.fright {
      margin-left: auto;
    }

    &.fleft {
      margin-right: auto;
    }
  }

  @media (min-width: 1530px) {
    max-width: calc(1500px + ((100% - 1500px) / 2));
  }
}

// Add font
@include font-face(SofiaProMedium,
$font-dir+"/SofiaProMedium/SofiaProMedium");
@include font-face(SofiaProLight,
$font-dir+"SofiaProLight/SofiaProLight");
html {
  font-size: 13px;
}

body {
  font-family: $font_family;
  background-color: $bg-primary !important;
  overflow-x: hidden;

  &.lock {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
  }
}

.bg-secondary {
  background: $bg-blue-gradient;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-primary {
  background-color: $bg-primary !important; //background: url("#{$svg_path}layout/background.svg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: $white;
  box-shadow: -10px 0px 50px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem!important;
}

.bg-blue {
  background-color: $blue-primary !important;
  p {
    color: $white;
  }
}

.rotation180 {
  transform: rotate(180deg);
  transform-origin: center;
}

// Bootstrap4 Custom

.navbar-expand-md {
  .scrollOk {
    height: 50px;
  }

  .scrollNotOk {
    height: 75px;

    @media (max-width: 991px) {
      height: 50px;
    }
  }

  .navbar-nav .nav-link {

    @media (max-width: 1199px) {
      padding-right: 0rem;
      padding-left: 5rem;
    }

    @media (max-width: 991px) {
      padding-right: 0rem;
      padding-left: 3.25rem;
    }

    @media (min-width: 1200px) {
      padding-right: 0rem;
      padding-left: 8rem;
      font-size: 16px;
    }
  }
}

.shadowBox {
  @include shadowBox();
}


//Boilerplate Custom
@for $index from 1 through 6 {
  h#{$index} {
    line-height: 1.5;
    font-weight: normal;
  }
}

h2 {
  font-size: 2.6rem;

  @media (max-width: 767px) {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 1.4rem;
  color: $blue-primary;
  font-family: SofiaProMedium;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 1.3rem;
  }
}

p {
  line-height: 2.7;
  font-size: 1.1rem;
  color: $grey;

  @media (max-width: 767px) {
    line-height: 2;
  }
}

#current_member {
  min-width: 150px;

  @media (max-width: 767px) {
    margin: 0 10px;
  }

  .first-name {
    margin-bottom: 0 !important;
  }

  .grey {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 2;
  }
}

@media (min-width: 992px) {
  .col-lg-6_5 {
    -webkit-box-flex: 0;
    flex: 0 0 55.73%;
    max-width: 55.73%;
  }
  .col-lg-5_5 {
    -webkit-box-flex: 0;
    flex: 0 0 44.27%;
    max-width: 44.27%;
  }
}

.owl-dots {

  .owl-dot {
    span {
      width: 8px !important;
      height: 8px !important;
      margin: 5px 6px !important;
    }
  }
}

.box {
  p {
    line-height: 2;
  }
  h2,
  h3 {
    color: $blue-primary_hover;
  }
}

.btn-xl {
  font-size: 120% !important;
  padding: 16px 75px !important;
}

.btn-lg {
  font-family: SofiaProMedium;
  font-size: 115% !important;
  padding: 14px 55px!important;

  i {
    margin-right: 10px;
    font-size: 120% !important;
    vertical-align: middle;
  }
}

.bg-gradient-blue {
  background: $bg-blue-gradient;
  p {
    color: $white;
  }
}

.bg-gradient-blue-alt {
  background: $bg-blue-gradient-alt;
  p {
    color: $white;
  }
}

.bg-blue-primary_hover {
  background-color: $blue-primary_hover;
  color: $white;
  p,
  h5 {
    color: $white;
  }
}

.bg-blue-footer {
  background-color: $blue-footer;
}

.bg-red-footer {
  background-color: $red;
}

.logo {
  max-height: 100px;
}

nav.navbar a.nav-link {
  font-size: 1rem;
  font-family: SofiaProMedium;
}

section header {
  margin-bottom: 35px;
}

.box {
  border: none;
  background: 0 0;
  border-right: 0;
  box-shadow: -5.665px 9.429px 55px 0 rgba(0, 0, 0, .09);
  background-color: white;
  border-bottom: 8px solid $blue-primary;

  img {
    margin-bottom: 20px;
  }
}

a.box-item,
a.box-item:hover,
a.box-item:focus {
  text-decoration: none;
}

.box-h2 {
  font-size: 50%;
}


header.header {
  position: absolute;
  top: 0px;

  a {
    font-size: 1rem;
    font-family: SofiaProMedium;
    color: #fff;

    &.go-back {
      display: inline-block;
      min-width: 210px;
      padding-left: 40px;
      padding-right: 40px;

      @media (max-width: 991px) {
        min-width: 170px;
      }

      @media (max-width: 768px) {
        padding-right: 0;
      }

      img {
        display: inline-block;
        width: 27px;
        transform: rotate(180deg);
      }

      span {
        display: inline-block;
        margin-left: 10px;
        color: #1F2948;
        font-weight: 600;
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }

  #get_demo_menu .btn {
    background-color: $blue-primary;
    color: #fff !important;

    @media (max-width: 767px) {
      display: none !important;
    }
  }

  &.navbar-scroll {
    position: fixed;
    height: 80px;
    margin-top: 0px;
  }
}

section {
  padding: 50px 0;
  margin-top: 100px;

  @media (max-width: 767px) {
    margin-top: 25px;
    padding: 25px 0;
  }
}

.btn-gradient,
section.browser .nav-tabs span.number {
  background-color: #2e497b;
  color: #fff !important;
  background-image: none;
  padding: 12px 50px;
  text-transform: lowercase;
  font-family: SofiaProMedium;
  opacity: 1;

  &:first-letter {
    text-transform: uppercase;
  }

}

.btn-white {
  background-color: #fff;
  color: #1F2948 !important;

  &:hover, &:focus, &:active {
    background: $blue-primary !important;
    color: #fff !important;
  }
}

.btn-shadow {
  box-shadow: -10px 0px 50px 0px rgba(34, 34, 34, 0.1) !important;
}

.navbar-for-scroll {
  visibility: hidden;
  background: #fff !important;
  color: $black !important;
  box-shadow: -4px 0px 20px 0px rgba(34, 34, 34, 0.05);
  padding: 15px;
  -webkit-transform: translateY(-255px);
  -moz-transform: translateY(-255px);
  transform: translateY(-255px);

  /*-webkit-transition: transform .8s cubic-bezier(.19,1,.22,1);
  -o-transition: transform .8s cubic-bezier(.19,1,.22,1);
  -moz-transition: transform .8s cubic-bezier(.19,1,.22,1);
  transition: transform .8s cubic-bezier(.19,1,.22,1);*/
}

.navbar-no-scroll {
  margin-top: 45px;

  @media (max-width: 991px) {
    margin-top: 0;
    padding-left: 15px;
  }
}

.navbar-scroll {
  .navbar-no-scroll {
    -webkit-transform: translateY(-90px);
    -moz-transform: translateY(-90px);
    transform: translateY(-90px);
    margin-top: 0;
  }

  .navbar-for-scroll {
    visibility: visible;
    -webkit-transition: transform .8s cubic-bezier(.19,1,.22,1);
    -o-transition: transform .8s cubic-bezier(.19,1,.22,1);
    -moz-transition: transform .8s cubic-bezier(.19,1,.22,1);
    transition: transform .8s cubic-bezier(.19,1,.22,1);
    -webkit-transform: translateY(-105px);
    -moz-transform: translateY(-105px);
    transform: translateY(-105px);

    img.scrollNotOk {
      display: none;
    }

    @media (max-width: 768px) {
      -webkit-transform: translateY(-90px);
      -moz-transform: translateY(-90px);
      transform: translateY(-90px);
    }
  }
}


.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

#main {
  position: relative;
  color: $white;

  @media (min-width: 2200px) {
    height: 1335px;
  }

  @media (max-width: 1681px) {
    height: 900px;
  }

  @media (min-width: 992px) and (max-width: 1441px) {
    height: 760px;
  }

  @media (max-width: 991px) {
      height: 683px;
  }


  h2 {
    font-size: 2.25rem;

    @media (max-width: 767px) {
      font-size: 1.85rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: $white;
  }

  .inner-bg {
    height: 1000px;
    padding-top: 25rem;
    background: url($img-dir+"/layout/BGexport.png");
    background-size: cover;
    background-position: top center;

    > .container {
      position: relative;
      z-index: 100;
    }

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #070c33 0%,transparent 51%,transparent 100%);
      opacity: 0.3;

      @media (max-width: 767px) {
        display: none;
      }
    }

    #hexa-blue {
      position: absolute;
      width: 2895px;
      top: -1895px;
      left: -1549px;
      opacity: .95;
    }

    #header-plant {
      position: absolute;
      width: 318px;
      bottom: 0px;
      left: 178px;
    }

    #header-man {
      position: absolute;
      width: 237px;
      bottom: 53px;
      left: 532px;
    }

    #header-shadow-man {
      position: absolute;
      height: 53px;
      bottom: 0;
      left: 547px;
    }

    #header-robot {
      position: absolute;
      width: 202px;
      bottom: 20px;
      right: 45px;
    }

    #header-people {
      display: none;
    }

    @media (min-width: 2200px) {
        height: 1335px;

      h2 {
        font-size: 2.5rem;
        line-height: 2;
      }

      p {
        font-size: 1.3rem;
      }

      #hexa-blue {
        position: absolute;
        width: 3180px;
        top: -1870px;
        left: -1545px;
      }

      #header-plant {
        left: 11%;
        width: 425px;
      }

      #header-man {
        width: 305px;
        bottom: 75px;
        left: 30%;
      }

      #header-shadow-man {
        height: 75px;
        left: 31%;
      }

      #header-robot {
        width: 260px;
        bottom: 15px;
      }
    }

    @media (max-width: 2200px) {
      padding-top: 19rem;
      padding-bottom: 17rem;
    }


    @media (max-width: 1681px) {
      height: 900px;
      padding-top: 18rem;

      #hexa-blue {
        top: -1985px;
        left: -1615px;
      }

      #header-plant {
        width: 293px;
        left: 128px;
      }

      #header-man {
        width: 227px;
        bottom: 48px;
        left: 490px;
      }

      #header-shadow-man {
        height: 48px;
        left: 510px;
      }

      #header-robot {
        width: 185px;
        bottom: 15px;
      }
    }

    @media (min-width: 992px) and (max-width: 1441px) {
      height: 760px;
      padding-top: 16rem;
      padding-bottom: 11rem;

      #hexa-blue {
        top: -2095px;
        left: -1780px;
      }

      #header-plant {
        width: 218px;
        left: 135px;
      }

      #header-man {
        width: 175px;
        left: 435px;
      }

      #header-shadow-man {
        width: 175px;
        left: 445px;
      }

      #header-robot {
        width: 148px;
      }
    }

    @media (max-width: 991px) {
      height: 639px;
      padding-top: 8rem;
      padding-bottom: 6rem;

      #hexa-blue {
        top: -2140px;
        left: -1916px;
      }

      #header-plant {
        width: 132px;
        bottom: 0;
        left: 62px;
      }

      #header-man {
        width: 111px;
        bottom: 0;
        left: 290px;
      }

      #header-shadow-man {
        display: none;
      }

      #header-robot {
        width: 56px;
        bottom: 0;
        right: auto;
        left: 490px;
      }

      h2 {
        font-size: 1.8rem;
      }

      p {
        line-height: 2.2rem;
      }
    }

    @media (max-width: 767px) {
      padding-top: 8rem;
      padding-bottom: 6rem;

      #hexa-blue {
        top: -1500px;
        left: -1500px;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 2.8rem;
        text-align: center;
      }

      p {
        display: none;
      }

      .CTA {
        margin-top: 60px;

          a {
            width: 100%;
            margin-right: 0;
          }
      }

      #header-people {
        display: block;
        width: 105px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -80px;
      }

      #header-robot, #header-man, #header-plant {
        display: none;
      }

    }
  }
}

.hero-text {
  line-height: 3rem;

  @media (max-width: 767px) {
    line-height: 2rem;
  }
}

.owl-carousel {
  -ms-touch-action: pan-x;
  touch-action: pan-x;

  .owl-stage {
    display: flex;
  }
}

.box {
  height: 100%;

  .content_hover_on {
    display: block;
  }
  .content_hover_off {
    display: none;
      img {
        display: none !important;
      }
  }

  @media(min-width: 768px) {
    &:hover .content_hover_on {
      display: none;
    }
    &:hover .content_hover_off {
      display: block;
    }
  }

  &.hover .content_hover_on {
    display: none;
  }
  &.hover .content_hover_off {
    display: block;
  }
}

#laptop-container {
  @media (min-width: 992px) {
    padding: 0!important;
  }
}

section.extra-features {
  h2 {
    padding-right: 50px;

    @media (max-width: 1280px) {
      padding-right: 0;
      font-size: 2.4rem;
    }
  }

  .absolutePlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin-top: -37px;
    margin-left: -37px;

    @media (max-width: 1440px) {
      left: 58.33333%;
    }

    @media (max-width: 991px) {
      margin-top: -27px;
      margin-left: -27px
    }

    @media (max-width: 767px) {
      display: none;
    }

    .play {
      display: block;
      width: 74px;
      height: 74px;
      line-height: 74px;
      text-align: center;
      background: $blue-primary;
      border: none;
      border-radius: 100%;
      margin: auto;
      cursor: pointer;

      &:hover, &:active, &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 29px;
        left: 29px;
        border-style: solid;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent white;
        vertical-align: middle;
      }

      @media (max-width: 991px) {
        width: 54px;
        height: 54px;
        line-height: 54px;

        &:after {
          top: 20px;
          left: 20px;
          border-width: 7px 0 7px 14px;
        }
      }
    }
  }
  #laptop-container {
    img {
      max-width: 100%;
    }
    .laptop-bg {
      background-size: contain;
      background-clip: border-box;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .laptop-bg>.laptop-content-bg {
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      z-index: 0;
      /* % to outer border */
      left: 18.4%;
      top: 12%;
      bottom: 28.4%;
      right: 18.2%;
    }

    @media(max-width: 767px) {
      > .bg-white {
        background-color: transparent !important;
        box-shadow: none !important;
      }
    }
  }

  .owl-item > .col-lg-6 {
    height: 100%;
  }

  .item {
    ul {
      text-align: left;
      list-style-position: outside;
      padding-left: 20px;
    }
    @media (min-width: 1680px) {
      padding-bottom: 5rem!important;
      padding-top: 5rem!important;
    }

    @include shadowBox();
    background-color: $blue-primary !important;
    width: 100%;
    height: 100% !important;

    @media (min-width: 992px) {
      &:hover {
        background-color: $blue-primary_hover !important;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
}

#brain {
  .brain-slider.owl-loaded {
    margin-left: 0;
    margin-right: 0;

    &.owl-item > div {
      height: 100%!important;
    }

    .owl-dots {
      margin-top: 10px;

      .owl-dot {
        span {
          background: #242d47;
        }

        &.active, &:hover {
          span {
            background: #f8fafd;
          }
        }
      }
    }
  }
}

#brain_schema {
  .hexagon {
    position: relative;
    width: 170px;
    margin-bottom: 10px;

    @media (min-width: 768px) and (max-width: 991px) {
      width: 150px;
    }

    /*cover up extra shadows*/
    .wrapper {
      display: block;
      position: relative;
      width: 100%;
      z-index: 2;
      background: inherit;
    }

    &.long {
      color: $white !important;
      width: 236px;
      margin: auto;
      height: auto;
      margin-bottom: 65px;

      @media (max-width: 1199px) {
        width: 215px;
      }

      @media (max-width: 991px) {
        width: 185px;
      }

      @media (max-width: 767px) {
        margin-top: 75px;
        width: 236px;
      }

      .wrapper {
        height: auto;

        .text {
          position: absolute;
          top: 237px;
          width: 100%;
          padding: 0 10px;

          @media (min-width: 992px) and (max-width: 1199px) {
            top: 215px;
          }

          @media (min-width: 768px) and (max-width: 991px) {
            top: 185px;
          }

          @media (max-width: 767px) {
            top: 240px;
          }

          h3 {
            color: $white;
          }
          p {
            color: $white !important;
          }
        }
      }
    }
  }

  h3 {
    line-height: 1.5;

    a[data-toggle="tooltip"] {
      width: 18px;
      height: 18px;
      line-height: 18px;
      background: $blue-primary;
      border-radius: 50%;
      font-size: 1rem;
      color: #fff;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      line-height: 1.4;
      font-size: 1.3rem;
    }
  }

  p {
    line-height: 1.6;

    @media (min-width: 768px) and (max-width: 991px) {
      line-height: 1.4;
      font-size: 1rem;
    }
  }

  @media (max-width: 767px) {
    .arrow-wrapper {
      min-width: 100%;

      .arrow {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }

}

section#sharpen_decisions {
  &,
  h2,
  h3 {
    color: $white !important;
  }

  h3 {
    margin-bottom: 25px;
  }

  .left {
    //padding: 130px 0;
    //background-color: $blue-primary_hover;
  }
  .right {
    //padding: 130px 0;
    //background: $bg-blue-gradient;

    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 15px;

        &:before {
          content: "";
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
          background: #fff;
          height: 4px;
          width: 4px;
          border-radius: 50%;
        }
      }
    }
  }

  .real-content {
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

section#industries {
  .box {
    border: none;
  }
}

#team {
  .left {
    z-index: 0;
    
    > div {
      @media (min-width: 992px) {
        width: 130%;
        margin-left: -12%;
      }
    }

    .owl-carousel {

      .owl-next,
      .owl-prev {
        margin: 0;
        padding: 4px 4px;
      }
      .owl-stage-outer {

        .owl-stage {

          .owl-item {
            height: 350px !important;
            width: 350px !important;

            .item {
              height: 350px !important;
              width: 350px !important;
            }

            .caption {
              display: flex;
              flex: 1 0 auto;
              flex-direction: column;
            }
            .flex-text {
              flex-grow: 1
            }
            .thumbnail {
              display: flex;
              flex-direction: column;
              margin: 0 15px;
            }
            .btn-team {
              position: absolute;
              bottom: 30px;
              right: 30px;
              width: 32px;
              height: 32px;
              padding: 0;
              text-align: center;

              svg {
                width: 20px;
                height: 20px;
              }
            }
            .card-img-overlay {
              display: none;
              h5 {
                color: $white;
              }
              background-color: $blue-primary_hover;
              color: $white;
            }

            .card-text {
              color: #c5c5c5;
              line-height: 2rem;

              p {
                color: #c5c5c5;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
  }
  .right {
    z-index: 10;
    &,
    p,
    h2,
    h3 {
      color: $white !important;
    }

    .hero-text {
      margin: 45px 0;
      line-height: 2.4rem;
    }


  }


  .box {
    background-color: #dddddd;
  }
}

#awards {

  .bx-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 0px;
    box-shadow: none;
    border: none;
    background: none;

    &:before, &:after {
      position: absolute;
      content: "";
      width: 80px;
      height: 100px;
      top: 0;
    }

    &:before {
      left: 0;
      background: linear-gradient(to right, rgba(0,0,0,0.05), transparent 55%);
    }

    &:after {
      right: 0;
      background: linear-gradient(to left, rgba(0,0,0,0.05), transparent 55%);
    }

    .item {
      height: 100px;
      line-height: 100px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.5;
      text-align: center;

      &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }

      img {
        display: inline-block;
      }
    }
  }

  h3 {
    margin-bottom: 0;
  }
}

.selected_word {
  background-color: $blue-primary;
  padding: 0px 20px;
}

.grey {
  color: $grey !important;
}

.mediumgrey {
  color: $mediumgrey !important;
}

#news {
  color: $white;

  > div {
    border-top-left-radius: 18vw 12vw;
    background: #37558a;
  }

   .header-label {
      padding-left: 1px;
      color: #fff;
      opacity:0.5
   }

  h1,
  h2 {
    color: $white;
  }
  h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .box-item {
    padding: 20px 50px !important;
    width: 100%;
    height: 215px !important;

    @media (max-width: 1400px) {
      padding: 20px 30px !important;
    }

    @media (max-width: 1199px) {
      padding: 20px 20px !important;
    }

    .content {
      width: 100%;
      color: #777777;
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  .slider-news {
    .owl-item {
      .box-item {
        display: block;
        opacity: 0;
        transform: scale(0.9);
        transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);

        .text-left:last-child & {
          transition-delay: 0.05s;
        }

        .col-md-6:last-child & {
          transition-delay: 0.1s;
        }

        .col-md-6:last-child .text-left:last-child & {
          transition-delay: 0.15s;
        }
      }

      &.active {
        .box-item {
          opacity: 1;
          transform: scale(1);
          transition-duration: 0.8s;
        }

        .col-md-6 {
          .text-left {
            .box-item {
              transition-delay: 0.15s;
            }

            &:last-child {
              .box-item {
                transition-delay: 0.2s;
              }
            }
          }


          &:last-child {
            .text-left {
              .box-item {
                transition-delay: 0.25s;
              }

              &:last-child {
                .box-item {
                  transition-delay: 0.3s;
                }
              }
            }
          }
        }
      }

      .active {
        opacity: 1;
        transform: scale(1);
      }
    }
  }


  .slider-otherstories {
    .owl-item {
      .box-item {
        display: block;
        opacity: 0;
        transform: scale(0.9);
        transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);

        .text-left:last-child & {
          transition-delay: 0.05s;
        }

        .col-md-6:last-child & {
          transition-delay: 0.1s;
        }

        .col-md-6:last-child .text-left:last-child & {
          transition-delay: 0.15s;
        }
      }

      &.active {
        .box-item {
          opacity: 1;
          transform: scale(1);
          transition-duration: 0.8s;
        }


        .text-left {
          .box-item {
            transition-delay: 0.15s;
          }

          &:last-child {
            .box-item {
              transition-delay: 0.2s;
            }
          }
        }


        &:nth-child(2) {
          .text-left {
            .box-item {
              transition-delay: 0.25s;
            }

            &:last-child {
              .box-item {
                transition-delay: 0.3s;
              }
            }
          }
        }
      }

      .active {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .owl-dots {
    margin-top: 30px;

    @media (max-width: 991px) {
      margin-top: -30px;
    }

    .owl-dot {
      span {
        background: #242d47;
      }

      &.active, &:hover {
        span {
          background: #f8fafd;
        }
      }
    }
  }
}

.roi-slider {
  .owl-dots {
    margin-top: 0;

    .owl-dot {
      span {
        background: #242d47;
      }

      &.active, &:hover {
        span {
          background: #f8fafd;
        }
      }
    }
  }
}


#beliefs,
#use_cases,
#partners-slider {
  .owl-stage-outer {
    overflow: visible !important;
  }
  .owl-item {
    opacity: 0 !important;
    transition: opacity 500ms !important;


    &:nth-child(2) {
      .box {
        border-bottom-color: #3666a8;
      }
    }

    &:nth-child(3) {
      .box {
        border-bottom-color: #2e558e;
      }
    }

    &:nth-child(4) {
      .box {
        border-bottom-color: #222d49;
      }
    }

    &.active {
      opacity: 1 !important;
    }
  }

  .owl-dots {
    margin-top: 30px;

    .owl-dot {
      span {
        background: #cccccc;
      }

      &.active, &:hover {
        span {
          background: #242d47;
        }
      }
    }
  }

  .box {
    height: 431px;
    padding:45px 30px 40px;

    ul {
      font-size: 14px;
      line-height: 32px;
      color: #777777;
      text-align: left;
      font-family: SofiaProLight;
    }

    @media (max-width: 1440px) {
      height: 391px;

      ul {
        font-size: 13px;
        line-height: 20px;
      }
    }

    @media (max-width: 991px) {
      height: 371px;
    }
  }
}

#beliefs {
  .box {
    padding-top: 20px;

    img {
      width: 80%;
      margin-bottom: 0;

      @media (max-width: 991px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 70%;
      }
    }

    h3 {
      margin-bottom: 15px;
    }

    @media (max-width: 1440px) {
      height: 431px;
    }

    @media (max-width: 991px) {
      height: 371px;
    }
  }
}

#use_cases {
  .box {
    padding-top: 0;
    padding-bottom: 0;

    .box-inner {
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      margin-top: -2px;
    }


    .close-overlay {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
      padding: 0;
      text-align: center;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    @media (max-width: 768px) {
      &.hover {
        .close-overlay {
          display: block;
        }
      }
    }
  }

  .owl-carousel {
    .owl-stage {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#footer {
  position: relative;
  padding-top: 150px;
  padding-bottom: 210px;

  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .logo {
    height: 70px;
  }
  ul {
    margin-bottom: 0;
    line-height: 2rem;

    li {
      padding: 10px 0;
    }
  }
}

#latest_news {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  a {
    display: inline-block;
    padding-right: 70px;
    color: #fff;
  }

  .date {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9.5px;
    opacity: 0.25;
  }
}

.KW_progressContainer {
  left:0;
  width: 100%;
  height: 0.2em;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  background-color: white;
  content: "";
	display: table;
  table-layout: fixed;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 80px !important;

  @media (max-width: 991px) {
    margin-top: 88px !important;
  }
}

.KW_progressBar {
  width: 0%;
  float: left;
  height: .2em;
  z-index:99;
  max-width: 100%;
  background-color:$blue-primary_hover;
  //-webkit-transition: width .3s ease;
  //-o-transition: width .3s ease;
  //transition: width .3s ease;
}

.fancy-form {
  padding: 0;
  width: 1150px;
  overflow-x: hidden;

  .fancybox-close-small {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    color: #242D47;
    border-radius: 50%;
  }

  .hexa {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 94%;
    margin-left: -20%;
    margin-bottom: -40%;
    opacity: .15;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .logo-white {
    position: absolute;
    bottom: 50px;
    left: 90px;
    width: 130px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .left-part {
    overflow: hidden;

    .title {
      color: #fff;
      font-size: 2.4rem;
    }

    .try {
      color: #fff;
      font-size: 1.3rem;
      line-height: 2;
    }
  }

  .right-part {
    ul {
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        list-style: none;
        margin-bottom: 2rem;
      }
    }

    input, textarea {
      width: 100%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-box-shadow: -5.665px 9.429px 55px 0 rgba(0,0,0,.09);
      -webkit-box-shadow: -5.665px 9.429px 55px 0 rgba(0,0,0,.09);
      box-shadow: -5.665px 9.429px 55px 0 rgba(0,0,0,.09);
      border-radius: 5px;
      border: none;

      &[aria-invalid="true"] {
        color: #e05c5c;
      }

      &:focus {
        outline: 0;
        border-bottom: 2px solid #4b75bd;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    input {
      height: 55px;
      line-height: 55px;
      padding: 0 40px;

      &[type="submit"] {
        display: inline-block;
        width: auto;
        background-color: $blue-primary;
        color: #fff !important;
        -moz-box-shadow: 0 10px 20px rgba(109,109,109,.16) !important;
        -webkit-box-shadow: 0 10px 20px rgba(109,109,109,.16) !important;
        box-shadow: 0 10px 20px rgba(109,109,109,.16) !important;
      }
    }

    textarea {
      padding: 30px 40px;
    }

    label {
      display: none;
    }

    .validation_message {
      padding-left: 40px;
      padding-top: 8px;
      color: #e05c5c;
    }

    .validation_error {
      display: none;
    }
  }

  .gform_confirmation_wrapper {
    padding: 40px 0;
    text-align: center;

    .confirmation-check {
      color: #59C159;
      font-size: 18px;
      border: 3px solid #59C159;
      display: inline-block;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
    }

    h6 {
      margin-top: 40px;
      margin-bottom: 0;
      font-weight: 600;
      color: #242D47;
      font-size: 20px;
      line-height: 36px;
    }

    .subtitle {
      margin-bottom: 10px;
      color: #777777;
      font-weight: 300;
      font-size: 14px;
      line-height: 32px;
    }

    .backtosite {

    }
  }
}

.fancybox-bg {
  background: #212c48;
}

.fancybox-button--close {
  background: #fff;
  border: 0;
  cursor: pointer;
  margin: 0;
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
  padding: 10px;
  color: #242d47;
  border-radius: 50%;

  svg {
    fill: transparent;
    opacity: .8;
    stroke: currentColor;
    stroke-width: 1.5;
    transition: stroke .1s;
    vertical-align: unset;
  }

  &:hover {
    background: #fff;
    color: #242d47;
  }
}

.fancybox-content {
  cursor: default !important;
}

.navbar-scroll {
  #navbarSupportedContent, #navbarSupportedContentScroll, #navbarSupportedContentNoScroll {
    li {
      a {

        @media (min-width: 768px) {
          color: #333 !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header.header > nav.navbar {
    transition: background 0.7s;

    &.blue {
      background: #1252a6 !important;

      .scrollOk {
        display: none;
      }

      .scrollNotOk {
        display: block;
      }
    }
  }

  #navbarSupportedContent, #navbarSupportedContentScroll, #navbarSupportedContentNoScroll {
    padding: 15px;
    background: #1252a6;
    text-align: center;
    z-index: 100000;
    transition: opacity 0.7s ;
    opacity: 0;
    top: -2000px;
    left: 0;
    position: fixed;
    width: 100%;
    height: calc(100% - 90px);
    padding-top: 0;
    overflow: hidden;

    @media (max-width: 767px) {
      padding-top: 0px;
    }

    ul {
      transition: transform 0.7s;

      li {
        width: 100%;
          a {
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: 1.8rem !important;
            font-family: SofiaProLight;
            color: #fff !important;
            line-height: 56px;

            img {
              height: 16px;
            }

            @media (max-width: 767px) {
              line-height: 40px;
            }
          }
        }
    }

    &.active {
      opacity: 1;

      ul {
        transform: translateY(50px);
      }
    }

    &.top {
      top: 88px;
    }
  }
}

.navbar-scroll #navbarSupportedContent {
  @media (max-width: 767px) {
    background: #fff;
  }
}

header.header #get_demo_menu {
  @media (max-width: 991px) {
    display: none;
  }
}

.tooltip {
  .tooltip-inner {
    padding: 1rem;
    text-align: left;
    background-color: $blue-primary !important;
    color: #fff;

    p {
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
      line-height: 1.1;
      font-size: 1.1rem;
    }

    .title {
      display: block;
      font-size: 1.2rem;
      font-style: italic;
    }
  }

  &.show {
    opacity: 1;
  }
}