@import "boilerplate";
@import 'front-page';

nav.navbar.navbar-scroll {
  box-shadow: none;

  @media(max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#navbarSupportedContent {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-right: 40px;
  padding-left: 40px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid rgba(153,153,153,0.3);
}

body {
  background: #fff !important;
}

.article-content {
  margin: 0 !important;
  padding: 0 !important;

  #article-header {
    padding-top: 160px;
    margin-bottom: 0;
    text-align: center;
    background: #f8fafd !important;;

    .date {
      margin-bottom: 18px;
      color: #aaa;
      font-size: 11px;
      letter-spacing: 2px;
    }

    .big-title {
      margin-bottom: 0;
      color: #1F2948;
      font-size: 35px;
      line-height: 54px;
      text-align: center;
    }

    .excerpt {
      color: #777;
      font-size: 1.2rem;
      line-height: 2.6rem;
      width: 725px;
      max-width: 100%;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 80px;
    }

    .big-image {
      width: 100%;
      height: 750px;
      background-size: cover;
      background-position: center center;
    }
  }

  #article-body {
    padding-top: 155px;
    padding-bottom: 45px;
    font-size: 1.2rem;
    line-height: 3rem;
    color: #1F2948;

    @media (max-width: 991px) {
      padding-top: 90px;
      padding-bottom: 55px;
    }

    #sharing-buttons {
      width: 56px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      @media (max-width: 767px) {
        width: 100%;
      }

      &.sticky {
        position: fixed;
        top: 85px;

        @media (max-width: 767px) {
          position: relative;
          top: 0;
          margin-left: auto !important;
        }
      }

      .label {
        margin-bottom: 39px;
        color: #aaaaaa;
        font-size: 1rem;
        font-weight: 600;

        @media (max-width: 991px) {
          margin-bottom: 15px;
        }
      }

      .sharing-button-wrapper {
        margin-bottom: 35px;

        @media (max-width: 991px) {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 60px;
        }

        @media (max-width: 767px) {
          margin-bottom: 0;
        }

        a {
          display: inline-block;
          height: 56px;
          width: 56px;
          padding: 0;
          font-size: 1.6rem !important;
          line-height: 56px;
          color: #aaaaaa !important;
          box-shadow: 0 0 20px 0px rgba(34,34,34,0.15);

          &:hover, &:focus, &:active {
            background: #fff !important;

            &.facebook {
              color: #3b5998 !important;
            }

            &.twitter {
              color: #1da1f2 !important;
            }

            &.linkedin {
              color: #0077b5 !important;
            }
          }
        }
      }
    }

    .content {
      font-size: 1.2rem;
      line-height: 3rem;
      color: #1F2948;
      padding-bottom: 60px;

      p {
        font-size: 1.2rem;
        line-height: 3rem;
        color: #1F2948;
      }

      .alignleft {
        float: left;
        margin: 0.5em 1em 0.5em 0;
      }
    }

    .go-back {
      display: inline-block;
      margin-top: 60px;

      img {
        display: inline-block;
        width: 27px;
        transform: rotate(180deg);
      }

      span {
        display: inline-block;
        margin-left: 20px;
        color: #1F2948;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
}

#news {
  margin-top: 0;
}


header.header #get_demo_menu {
  @media (min-width: 768px) and (max-width: 991px) {
    display: block;
  }
}