<footer id="{{ id_section }}" class="main-footer bg-blue-primary_hover">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 col-xl-3 d-flex align-items-start flex-column">
				<div class="mb-auto pb-5 pb-lg-7">
					<a href="#" class="brand">
						<img src="{{site.theme.link}}/assets/svg/layout/logo_DreamQuark_2018_white_font.svg" class="img-fluid logo">
					</a>
				</div>
				<ul class="contact-info list-unstyled">
					<li>
						DreamQuark<br />
						29 rue de Courcelles - 75008 Paris France<br />
						Tel: +33 1 83 75 72 84 - <a href="mailto:info@dreamquark.com" title="info@dreamquark.com">info@dreamquark.com</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-3 d-flex align-items-start flex-column">
				<ul class="links list-unstyled mt-auto">
					<li>
						For any GDPR information, please <br />
						contact our Data Protection Officer :<br /><a href="dpo@dreamquark.com" title="dpo@dreamquark.com">dpo@dreamquark.com</a>
					</li>
				</ul>
			</div>
			<div class="col col-lg-4 col-xl-6 mt-6 mt-lg-0 d-flex align-items-start flex-column">
				<div id="get_demo_menu" class="mb-auto ml-lg-auto CTA">
					<a data-src="#demo-form" href="#" class="fancybox btn btn-lg btn-shadow btn-white">Get a demo</a>
				</div>
				<ul class="social-icons list-inline p-0 m-0 ml-lg-auto">
					<li class="list-inline-item">
						<a href="https://twitter.com/DreamQuark" target="_blank" title="Twitter">
							<img src="{{site.theme.link}}/assets/svg/layout/twitter.svg" alt="Twitter" />
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://fr.linkedin.com/company/nicolas-meric-dreamquark- " target="_blank" title="LinkedIn">
							<img src="{{site.theme.link}}/assets/svg/layout/linkedin.svg" alt="LinkedIn" />
						</a>
					</li>
				</ul>
				<p class="ml-lg-auto mt-3">
					Copyright 2017 DreamQuark | All Rights Reserved
				</p>
			</div>
		</div>
	</div>
</footer>