<div id="{{ id_section }}" class="container-fluid p-0 m-0 fixed-bottom d-none d-md-block">
	<div class="row p-0 m-0">
		<div class="col-2 m-0 pl-sm-2 pl-md-2 pl-lg-5 pl-xl-6 pl-xxl-5 pt-4 pb-4 text-white bg-red-footer">
			<div style="display: inline-block; margin-right: 10px; vertical-align: middle;">
				●
			</div>
			<div style="display: inline-block; vertical-align: middle;">
				Latest news
			</div>
		</div>
		<div class="col-10 m-0 pl-5 pt-4 pb-4 p-0 text-white bg-blue-footer">
			<a href="{{ articles.0.link }}" title="{{ articles.0.title }}">{{ articles.0.title }}</a>

			<span class="date">{{ articles.0.date | date ('d.m.Y') }}</span>
		</div>
	</div>
</div>