<section id="{{ id_section }}" class="hero hero-home mt-0 p-0">

    <div class="inner-bg">
        <img id="hexa-blue" src="{{site.theme.link}}/assets/svg/layout/header_hexa_blue.svg">
        <div class="gradient"></div>

        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 offset-md-1 offset-lg-0 col-xxl-5 text order-2 order-lg-1">
                    <img id="header-people" src="{{site.theme.link}}/assets/svg/layout/header-people.svg">

                    <h2>{{ site_description }}</h2>
                    <p class="hero-text">We focus now on the financial industry where we see the quickest impact.</p>
                    <div class="CTA">
                        <a data-src="#demo-form" href="#" class="fancybox btn btn-lg btn-shadow btn-white">Get a demo</a>
                    </div>
                </div>
            </div>
        </div>

        <img id="header-robot" src="{{site.theme.link}}/assets/svg/layout/header-robot.svg">
        <img id="header-plant" src="{{site.theme.link}}/assets/svg/layout/header-plant.svg">
        <img id="header-man" src="{{site.theme.link}}/assets/svg/layout/header-man.svg">
        <img id="header-shadow-man" src="{{site.theme.link}}/assets/img/layout/header-shadow-man.png">
    </div>
</section>