<section id="{{ id_section }}" class="browser">
    <div class="container">
        <header class="text-center no-margin-bottom row pb-4">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2>{{ block.block_title }} </h2>
                <p class="lead mt-4 mb-6">{{ block.block_description }}</p>
            </div>
        </header>

        {% if block.repeater_blocks.0.image %}
            <div class="row">
                <div class="col-7 mx-auto">
                    <div class="owl-carousel owl-theme testimonials-slider">
                        {% for sub_block in block.repeater_blocks %}
                        <div class="item-holder h-100">
                            <div class="item">
                                <div class="avatar mt-5">
                                    <img style="max-height: 30px; width: auto" class="mx-auto" src="{{ sub_block.image }}" />
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="owl-carousel owl-theme beliefs-slider equal_height_owl">
            {% for sub_block in block.repeater_blocks %}
                <div class="item-holder h-100">
                    <div class="item pl-0 h-100">
                        <div class="box text-center" style="min-height: 100%">
                            <img class="mx-auto" src="{{sub_block.illustration.sizes.medium}}" alt="{{sub_block.title}}" />
                            <div class="py-2 px-md-5 px-lg-0 py-lg-5 px-xl-0 py-xl-4 px-xxl-4 pt-xxl-3 pb-xxl-5">
                                <h3>{{sub_block.title}}</h3>
                                <p>{{sub_block.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>