<img style="position: absolute;
    width: 27vw;
    filter: contrast(94.8%);
    left: 13vw;
    margin-top: 50px;
;" src="{{site.theme.link}}/assets/img/layout/hexa3.png">
<section id="{{ id_section }}" class="extra-features">
	<div class="container-float fright">
				<div class="row" style="position: relative;">
					<div class="col-md-7 col-xxl-6 left-box pr-md-0">
						<div class="p-4 p-lg-5 p-xl-6 p-md-4 bg-secondary h-100">
							<header>
								<h2>{{ block.block_title }}</h2>
							</header>
							<div class="row owl-theme brain-slider">
								{% for sub_block in block.repeater_blocks %}
								<div class="col-lg-6 mx-auto" style="padding-bottom: 30px;">
									<a href="#nav-{{ loop.index }}" class="box-item text-white item px-5 py-4 px-xl-5 py-xl-4 py-xxl-4 bg-blue {{ loop.index == 1 ? "active" }}">
										<div class="h-100">
											<h3 class="mb-4" style="display: block">{{sub_block.title}}</h3>
											<div class="replace-tiret-by-bullets" class="m-0">{{sub_block.description}}</div>
										</div>
									</a>
								</div>
								{% endfor %}

							</div>
						</div>
					</div>
					<div class="absolutePlay">
						<a class="play" data-fancybox href="{{ block.demo_link }}"></a>
					</div>
					<div id="laptop-container" class="col-md-5 col-xxl-6 pl-md-0">
						<div class="h-100 bg-white">
							<div class="row py-6" style="position: relative;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);">
								<div class="col-8 mx-auto d-none d-md-block">
									<div class="laptop-bg">
										{% for sub_block in block.repeater_blocks %}
										<div id="nav-{{ loop.index }}" class="laptop-content-bg fade {{ loop.index == 1 ? 'show' }}" style="background-image: url('{{sub_block.hover_img.sizes.medium}}'); background-position: center;">
										</div>
										{% endfor %}
										<img src="{{ block.block_mockup.sizes.large}}" />
									</div>
								</div>
								<div class="col-12 text-center mt-4 d-none d-md-block">
									<img src="{{ block.block_logo.sizes.medium }}" style="width: 150px;" />
								</div>
								<div class="col-12 CTA text-center mt-md-6">
									<a data-src="#demo-form" href="#" class="fancybox btn btn-lg btn-shadow btn-white"><i class="fa fa-caret-right"></i> Discover Brain</a>
								</div>
							</div>
						</div>
					</div>
				</div>

	</div>
	<img style="position: absolute;
    width: 17vw;
    filter: contrast(94.8%);" src="{{site.theme.link}}/assets/img/layout/hexa6.png">
</section>