<section id="{{ id_section }}" class="browser">
    <div class="container">
        <div class="row">
            <div class="col-xxl-10 mx-auto">


                <header class="text-center mb-5">
                    <div class="text-center mb-4">
                        <img style="width: 120px;" src="{{site.theme.link}}/assets/svg/layout/Logo_Brain_2018_color.svg" />
                    </div>
                    <p class="lead">{{ block.block_title }}</p>
                </header>

                {% set sub_block_0 = block.repeater_blocks.0 %}
                {% if sub_block_0.arrow_type.value == 'double' %}
                    {% set arrow_link = site.theme.link ~ "/assets/svg/layout/two_arrows.svg" %}
                {% else %}
                    {% set arrow_link = site.theme.link ~ "/assets/svg/layout/arrow.svg" %}
                {% endif %}

                <div class="row">
                    <div class="col-md mt-5">
                        <div class="text-center mb-2">
                            <div class="hexagon mx-auto">
                                <div class="wrapper d-flex flex-column justify-content-center">
                                    <img class="w-100 img-fluid align-self-center mx-auto" src="{{sub_block_0.illustration.sizes.medium}}" />
                                </div>
                            </div>
                            <h3>{{ sub_block_0.title }}</h3>
                            <p>{{ sub_block_0.description }}</p>
                        </div>
                    </div>
                    <div class="col pl-0 pr-0 mt-5 mt-lg-6 arrow-wrapper">
                        <div class="d-flex flex-column h-100 arrow pt-md-6 pt-lg-6">
                            <img class="img-fluid mx-auto" src="{{arrow_link}}" style="width: 27px" />
                        </div>
                    </div>
                    {% set sub_block_1 = block.repeater_blocks.1 %}
                    {% if sub_block_1.arrow_type.value == 'double' %}
                        {% set arrow_link = site.theme.link ~ "/assets/svg/layout/two_arrows.svg" %}
                    {% else %}
                        {% set arrow_link = site.theme.link ~ "/assets/svg/layout/arrow.svg" %}
                    {% endif %}
                    <div class="col-md m-0 p-0">
                        <div class="text-center mb-2">
                            <div class="hexagon long">
                                <div class="wrapper d-flex flex-column justify-content-between">
                                    <img class="w-100 img-fluid align-self-center mx-auto" src="{{sub_block_1.illustration.sizes.medium}}" />
                                    <div class="text">
                                        <h3 class="mt-2">{{ sub_block_1.title }}</h3>
                                        <p>{{ sub_block_1.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col pl-0 pr-0 mt-lg-6 arrow-wrapper">
                        <div class="d-flex flex-column h-100 arrow pt-md-8 pt-lg-6">
                            <img class="img-fluid mx-auto" src="{{arrow_link}}" style="width: 27px" />
                        </div>
                    </div>
                    {% set sub_block_2 = block.repeater_blocks.2 %}

                    {% if sub_block_2.arrow_type.value == 'double' %}
                        {% set arrow_link = site.theme.link ~ "/assets/svg/layout/two_arrows.svg" %}
                    {% else %}
                        {% set arrow_link = site.theme.link ~ "/assets/svg/layout/arrow.svg" %}
                    {% endif %}
                    <div class="col-md m-0 p-0">
                        <div class="text-center mb-2">
                            <div class="hexagon long">
                                <div class="wrapper d-flex flex-column justify-content-between">
                                    <img class="w-100 img-fluid align-self-center mx-auto" src="{{sub_block_2.illustration.sizes.medium}}" />
                                    <div class="text">
                                        <h3 class="mt-2">{{ sub_block_2.title }}</h3>
                                        <p>{{ sub_block_2.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-none d-md-block">
                                <div class="col-12">
                                    <div style="position: absolute;
                                    position: absolute;
                                    width: 400px;
                                    top: -110px;
                                    left: -71px;">
                                        <img class="img-fluid" src="{{site.theme.link}}/assets/img/layout/fleche2.png">
                                    </div>
                                    <h3>Model maintenance</h3>
                                    <p>Define a training strategy to keep your model up to date.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col pl-0 pr-0 mb-5 mt-lg-6 arrow-wrapper">
                        <div class="d-flex flex-column h-100 arrow pt-md-8 pt-lg-6">
                            <img class="img-fluid mx-auto" src="{{arrow_link}}" style="width: 27px" />
                        </div>
                    </div>
                    {% set sub_block_3 = block.repeater_blocks.3 %}
                    {% if sub_block_3.arrow_type.value == 'double' %}
                        {% set arrow_link = site.theme.link ~ "/assets/svg/layout/two_arrows.svg" %}
                    {% else %}
                        {% set arrow_link = site.theme.link ~ "/assets/svg/layout/arrow.svg" %}
                    {% endif %}
                    <div class="col-md mt-lg-5" style="background-color: #f8fafd">
                        <div class="text-center mb-2">
                            <div class="hexagon mx-auto">
                                <div class="wrapper d-flex flex-column justify-content-center">
                                    <img class="w-100 img-fluid align-self-center mx-auto" src="{{sub_block_3.illustration.sizes.medium}}" />
                                </div>
                            </div>
                            <h3>{{ sub_block_3.title }} <a class="d-inline-block d-md-none" data-toggle="tooltip" data-placement="top" data-html="true" title="<span class='title'>Model maintenance</span><p>Define a training strategy to keep your model up to date.</p>">i</a></h3>
                            <p>{{ sub_block_3.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>