<section id="{{ id_section }}" class="pb-0 pt-md-0 pt-lg-6">
    <div class="container">
        <div class="row mb-0 align-items-center">
            <img style="position: absolute;
            width: 7vw;
            filter: contrast(95.8%);
            margin-left: 50px;
            margin-top: -30px;
        ;" src="{{site.theme.link}}/assets/img/layout/hexa4.png">
            <div class="text col-12 col-lg-5 col-xl-4 offset-xl-1 mb-4 mb-lg-0">
                <h2 class="mb-2 mb-lg-5" style="padding-right: 15px;">{{ block.block_title }}</h2>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 order-1 order-xl-2 pb-4 pb-md-6 pb-lg-0 bank-insurance">
                <div class="m-0 h-100">
                    <div class="row h-100">
                        {% for sub_block in block.repeater_blocks %}
                        <div class="col-md-6 col-lg-6 col-12 mb-3 mb-md-0 ">
                            <div class="box text-center h-100">
                                <img class="w-100 img-fluid" src="{{ sub_block.illustration.sizes.medium }}" />
                                <div class="py-6 px-5 px-lg-4 py-lg-5 px-xl-5 py-xl-6 px-xxl-6 py-xxl-5">
                                    <h2>{{ sub_block.title }}</h2>
                                    <p>{{ sub_block.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>