<section id="{{ id_section }}" class="features2 pt-0 mt-0">
    <div class="container-fluid">
        <div class="row fake-row-background">
            <div class="col-lg-6 col-lg-5_5 bg-gradient-blue-alt h-100"></div>
            <div class="col-lg-6 col-lg-6_5 bg-gradient-blue h-100 d-none d-lg-block fake-row-background-second"></div>
        </div>
    </div>

    <div class="container real-content">
        <div class="row justify-content-center">
            <div class="left col-12 col-lg-4 col-xxl-4 align-self-center">
                <h2 class="mb-5">{{ block.block_title }}</h2>
                <p class="mb-5 mb-lg-0 pr-md-3 mb-0" style="color: #fff;">{{ block.block_description }}</p>
            </div>

            <div class="right col-12 col-lg-8 xol-xxl-8 align-self-center">
                <div class="owl-carousel owl-theme roi-slider">
                    {% for sub_block in block.repeater_blocks %}
                        <div class="item h-100 w-100" style="padding-top: 35px;padding-bottom:35px;">
                            <div class="box bg-blue py-5 px-5 py-md-6 px-md-5 px-lg-4 py-lg-5 px-xl-5 py-xl-5 px-xxl-5 py-xxl-6 h-100">
                                <h3>{{ sub_block.title }}</h3>
                                <div>{{ sub_block.description }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

