<section id="{{ id_section }}" class="browser">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 col-xxl-6 mx-auto">
                <header class="text-center no-margin-bottom ">
                    <h2 class="pb-4">{{ block.block_title }} </h2>
                    <p class="mt-2 mb-2">{{ block.block_description }}</p>
                </header>

                <div id="partners-slider" class="owl-carousel owl-theme mt-6 mb-6 mb-lg-8">
                    {% for logo in block.clients_logo %}
                    <div class="item-holder h-100">
                        <div class="item h-100">
                            <div class="avatar h-100">
                                <img style="width: 70%; vertical-align: middle;" class="mx-auto" src="{{ TimberImage(logo.image).src }}" />
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-theme usecases-slider equal_height_owl">
            {% for use_case in use_cases %}
                <div class="item-holder h-100">
                    <div class="item pl-0 h-100">
                        <div class="box text-center px-5 px-lg-4 px-xl-4 px-xxl-5" style="min-height: 100%">
                            <button type="button" class="btn btn-light close-overlay">
                                <svg viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22" stroke="#111"></path></svg>
                            </button>

                            <div class="box-inner">
                                <div class="content_hover_on">
                                    <div class="mb-4" style="min-height: 150px" >
                                        <h4 class="mb-4" style="font-size: 0.75rem; letter-spacing: 1px; text-transform: uppercase; color: #777777">use case {{ loop.index }}</h4>
                                        <h3>{{ use_case.post_title }}</h3>
                                    </div>
                                    <img class="img-fluid mx-auto" style="width: 20px; height: auto" src="{{site.theme.link}}/assets/svg/layout/arrow.svg" />
                                </div>
                                <div class="content_hover_off">
                                    <div style="min-height: 150px">
                                        {{ use_case.post_content }}
                                    </div>
                                    <img class="img-fluid mx-auto" style="width: 20px; height: auto" src="{{site.theme.link}}/assets/svg/layout/arrow.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>