<section id="{{ id_section }}" style="position:relative">
	{% for word_ in block.words %}
		<div class="selected_word_hidden invisible d-none">{{ word_.word }}</div>
	{% endfor %}
	<div class="container-float fleft">
		<div class="row d-flex">
			<div class="left col-lg-6 col-xl-7 text order-2 order-lg-1 bg-white">
				<div class="h-100 pt-lg-8">
					<div class="owl-carousel owl-carousel-team owl-theme h-100">
						{% for member in team_members %}
							<div class="item h-100 p-0 m-0" style="width:20vw; background: url({{ TimberImage(member._thumbnail_id).src }}); background-size: cover;">
								<div class="card thumbnail bg-transparent m-0 p-0 border-0 text-white h-100">
									<button type="button" class="btn btn-light btn-team open-overlay">i</button>
									<div id="t-{{ loop.index }}" class="card-img-overlay p-5">
										<h5 class="card-title">About {{ member.first_name }}</h5>
										<div class="card-text">{{ member.content }}</div>
										<span class="team-member" style="display: none; visibility: hidden;">
												<h3 class="first-name mb-2 mt-5" style="color: #242d47">{{ member.first_name }} {{ member.last_name }} </h3>
												<p class="grey mb-7">{{ member.employee_function }}</p>
										</span>
										<button type="button" class="btn btn-light btn-team close-overlay">
											<svg viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22" stroke="#111"></path></svg>
										</button>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="right pl-lg-0 m-0 col-lg-6 col-xl-5 text order-1 order-lg-2">
				<div class="h-100 bg-secondary py-5 px-5 py-lg-6 px-lg-6 py-xl-6 px-xl-5 py-xxl-8 px-xxl-8">
					<h2>{{ block.block_title }} {% if block.words|length > 0 %}<span class='selected_word'><span id='text_tochange'>{{  block.words[0].word }}</span></span>{% endif %}</h2>
					<p class="hero-text">{{ block.block_description }}</p>
					<div class="CTA">
						<a data-src="#join-team" href="#" class="fancybox btn btn-lg btn-shadow btn-white">{{ block.button_label }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img style="position: absolute;bottom:0;right:0;width:300px;" src="{{site.theme.link}}/assets/img/layout/hexagone_front.png" class="d-none d-lg-block">
</section>