<section id="{{ id_section }}" class="browser">
    <div class="container">
        <div class="col-xl-10 mx-auto">
            {% for row in block.repeater_sliders %}
                <div class="row d-flex" style="border-bottom: 1px solid rgb(228, 228, 228); {% if loop.index == 1 %}border-top: 1px solid rgb(228, 228, 228);{%endif%}">
                    <div class="col-4 col-md-2 justify-content-center align-self-center flex-column text">
                        <div class="text-center">
                            <h3>{{ row.title }}</h3>
                        </div>
                    </div>
                    <div class="col-8 col-md-10 pr-0">
                        <div class="awards-slider-{{ loop.index }}" style="height: 100px">
                            {% for logo in row.slider %}
                                <div class="item">
                                    <img style="max-height: 30px; width: auto" class="mx-auto" src="{{logo.url}}" />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>