
<section id="newsletter" class="newsletter bg-gray">
        <div class="container text-center">
            <h2>Subscribe to Newsletter</h2>
            <p class="lead">There are many variation passages of lorem ipsum, but the majority have</p>
            <div class="form-holder">
                <form id="newsletterForm" action="#">
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Enter Your Email Address">
                        <button type="submit" class="btn btn-primary btn-gradient submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </section>