<section id="{{ id_section }}" class="browser container-fluid pb-0" style="position: relative">
    <div class="row">
        <div class="col col-xl-10 mx-auto mt-8">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <header>
                        <h2>Other stories</h2>
                    </header>

                    <div class="mb-8">
                        <div class="owl-carousel owl-theme slider-otherstories">
                            {% set articles_length = ((articles|length / 2) | round(0, 'ceil')) - 1 %}

                            {% if articles_length <= 0 %}
                                {% set articles_length = 0 %}
                            {% endif %}

                            {% for i in 0..articles_length %}
                                <div class="item-holder">
                                    {% if articles[i*2] is defined %}
                                        {% set article = articles[i*2] %}
                                        <div class="text-left" style="padding-bottom: 30px">
                                            <a href="{{ article.link }}" class="box-item item pt-4 pb-4 pl-3 pr-3 bg-white">
                                                <div class="h-100 p-3" style="overflow: hidden">
                                                    <div class="row text-left">
                                                        <h3 class="col-6 text-left m-0">{{ article.terms('category') | join(', ') }}</h3>
                                                        <h3 class="col-6 text-right m-0 grey">{{ article.date | date('d.m.Y') }}</h3>
                                                    </div>
                                                    <p class="content mb-3 mt-3 mt-lg-4">{{ article.title }}</p>
                                                    <img class='img-fluid m-0 mb-4' style='width: 22px !important;' src='{{site.theme.link}}/assets/img/layout/arrow.png' />
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}

                                    {% if articles[i*2+1] is defined %}
                                        {% set article = articles[i*2+1] %}
                                        <div class="text-left" style="padding-bottom: 30px">
                                            <a href="{{ article.link }}" class="box-item item pt-4 pb-4 pl-3 pr-3 bg-white">
                                                <div class="h-100 p-3" style="overflow: hidden">
                                                    <div class="row text-left">
                                                        <h3 class="col-6 text-left m-0">{{ article.terms('category') | join(', ') }}</h3>
                                                        <h3 class="col-6 text-right m-0 grey">{{ article.date | date('d.m.Y') }}</h3>
                                                    </div>
                                                    <p class="content mb-3 mt-3 mt-lg-4">{{ article.title }}</p>
                                                    <img class='img-fluid m-0 mb-4' style='width: 22px !important;' src='{{site.theme.link}}/assets/img/layout/arrow.png' />
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img style="position: absolute;bottom:0;right:0;width:25%;" src="{{site.theme.link}}/assets/img/layout/hexagone_news.png">
</section>