
<section id="testimonials" class="testimonials">
        <div class="container">
            <header class="text-center no-margin-bottom">
                <h2>Happy Clients</h2>
                <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have</p>
            </header>
            <div class="owl-carousel owl-theme testimonials-slider">
                <div class="item-holder">
                    <div class="item">
                        <div class="avatar">
                            <img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                        </div>
                        <div class="text">
                            <div class="quote">
                                <img src="img/quote.svg" alt="..." class="img-fluid">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever</p>
                            <strong class="name">Jessica Watson</strong>
                        </div>
                    </div>
                </div>
                <div class="item-holder">
                    <div class="item">
                        <div class="avatar">
                            <img src="img/avatar-5.jpg" alt="..." class="img-fluid">
                        </div>
                        <div class="text">
                            <div class="quote">
                                <img src="img/quote.svg" alt="..." class="img-fluid">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever</p>
                            <strong class="name">Sarrah Wood</strong>
                        </div>
                    </div>
                </div>
                <div class="item-holder">
                    <div class="item">
                        <div class="avatar">
                            <img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                        </div>
                        <div class="text">
                            <div class="quote">
                                <img src="img/quote.svg" alt="..." class="img-fluid">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever</p>
                            <strong class="name">Jessica Watson</strong>
                        </div>
                    </div>
                </div>
                <div class="item-holder">
                    <div class="item">
                        <div class="avatar">
                            <img src="img/avatar-5.jpg" alt="..." class="img-fluid">
                        </div>
                        <div class="text">
                            <div class="quote">
                                <img src="img/quote.svg" alt="..." class="img-fluid">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                dummy text ever</p>
                            <strong class="name">Sarrah Wood</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>